/* import font */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;700&display=swap');

/* generic */

:root {
  --slim-font: 'Oswald', sans-serif;
  --red-color: #f72210;
  --heading-gray: rgba(3, 3, 3, 0.4);
  --news-category-gray: rgba(255, 255, 255, 0.9);
  --dark-grey: #333;
  --dark-color: #272727;
  --light-grey: #f4f5f6;
  --light-border: 1px solid rgba(211, 211, 211, 0.9);
}

body {
  font-family: "Roboto Condensed", sans-serif;
  background: #f4f5f6;
}

.wrapper {
  max-width: 1320px;
  height: 100%;
  background: white;
}

/* anchors */

a,
a:hover {
  color: inherit;
}

.news-categories a {
  padding: 0;
  text-align: center;
  border-right: 1px solid rgb(211, 211, 211, 0.5);
}

.news-section h3 a,
.news-section h5 a,
.magazines h3 a {
  text-decoration-color: var(--red-color);
}

a.nav-link:hover,
.news-section .opinion a:hover,
.news-section .latest-news a:hover {
  color: var(--red-color);
}

.news-section .news-category a:hover,
.magazines .hero a:hover,
.magazines a.news-category:hover {
  text-decoration: none;
}

img {
  width: 100%;
  object-fit: cover;
}

.small-image {
  width: 95px;
  height: 95px;
}

.round-image {
  width: 63px;
  height: 63px;
}

.logo-sm {
  width: 35px;
  height: auto;
}

.logo-sm-contain {
  font-size: 1.3rem;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 1;
  color: var(--dark-grey);
}

/* header */

.header-container {
  background: var(--red-color);
  color: white;
}

header .logo-container {
  width: 27em;
}

.datetime-locale-container {
  font-family: var(--slim-font);
}

.btns-container button {
  border: 0;
  font-weight: 700;
  font-size: 1.2rem;
}

.datetime {
  font-weight: 300;
}

.burger-menu {
  background: none;
  color: #fb9a94;
  border: 0;
  font-size: 1.6rem;
  margin: 0 5px 0 20px;
}

.subscribe {
  background: white;
  color: var(--red-color);
}

.sign-in {
  background: none;
  color: inherit;
}

.sign-up,
.link-mag {
  font-size: 1.2rem;
  font-family: var(--slim-font);
  font-weight: 500;
  text-transform: uppercase;
}

.link-mag {
  background-color: #dbdcdd;
}

.newsletter-popup-container {
  color: var(--dark-grey);
  background-color: var(--light-grey);
  border: 1px solid #e5e5e5;
  font-weight: bold;
}

.weather,
.location {
  word-spacing: 3px;
}

/* news category navigation */

.news-categories-section {
  position: relative;
  font-weight: 700;
  font-size: 1.2rem;
  border-bottom: 1px solid rgb(211, 211, 211, 0.5);
}

.news-categories {
  width: 93%;
}

.search-container {
  width: 4.2em;
  position: relative;
  font-family: 'Montserrat', sans-serif;
}

.search-icon {
  position: absolute;
  right: 0;
  width: 22px;
}

nav .right-edge {
  position: absolute;
  top: 0;
  right: -10px;
  width: 6.5%;
  height: 15px;
  transform: skewX(45deg);
  background: var(--red-color);
}

/* main news section */

.news-section h2 { /* section headings  */
  text-transform: uppercase;
  color: var(--heading-gray);
  font-family: var(--slim-font);
  font-weight: 500;
  font-size: 1.2rem;
}

h3 { /* news headings */
  font-size: 1.5rem;
  font-weight: bold;
}

.news-section h4 { /* heroes of pandemic */
  font-size: 1.8rem;
  font-weight: 300;
}

.news-section h5,
.news-section h6 {
  font-weight: bold;
  font-size: 1.2rem;
}

.news-section .covid-heroes p,
.news-section .culture-travel p {
  opacity: 0.5;
}

.featured-stories .news-category,
.top-story .news-category,
.magazines .news-category,
.magazines-2 .news-category,
.mag-tag {
  bottom: 0;
  left: 0;
  background: var(--news-category-gray);
  color: var(--red-color);
  font-weight: bold;
  font-size: 1.1rem;
  text-transform: uppercase;
  padding: 5px 15px;
}

.mag-tag,
.magazines-2 article:last-child .news-category {
  color: white;
  background: var(--red-color);
}

.covid-heroes .section-tag,
.culture-travel .section-tag {
  bottom: 0;
  left: 0;
  background: #c2d4d7;
  font-size: 0.85rem;
}

.covid-heroes .section-tag:hover,
.culture-travel .section-tag:hover {
  background: var(--dark-color);
  color: white;
}

.more-stories article,
.latest-news article {
  border-top: var(--light-border);
}

/* opinion */

.author {
  color: #555;
  font-family: var(--slim-font);
  text-transform: uppercase;
  font-weight: 500;
}

.author-name {
  color: black;
}

.opinion article {
  border-bottom: var(--light-border);
}

.debate article {
  padding-top: 2px;
}

.opinion article:last-child {
  border: 0;
}

.debate .one {
  border-top: 4px solid var(--red-color);
}

.debate .two {
  border-top: 4px solid #1c87fb;
}

.debate hr {
  top: 0;
  right: 0;
  border: 1px solid rgba(211, 211, 211, 0.4);
}

.debate hr:last-child {
  top: 3px;
}

.debate .author-img-container {
  z-index: 1;
}

.debate .vs {
  padding: 10px;
  width: 45px;
  font-family: var(--slim-font);
  background: black;
}

/* media querries */

@media all and (max-width: 480px) {
  .subscribe {
    padding: 0 2px;
  }

  .subscribe i {
    display: none;
  }

  .sign-in {
    padding: 0;
  }

  .burger-menu {
    margin: 0 0 0 15px;
    padding: 0;
  }

  .btns-container button {
    font-family: var(--slim-font);
    font-weight: 500;
    font-size: 0.8rem;
  }
}

@media all and (max-width: 576px) {
  header .logo-container {
    position: absolute; /* element is not positioned on the left, had to use absolute position for this */
    left: auto;
  }
}

@media all and (max-width: 640px) {
  .location {
    display: none;
  }
}

@media all and (max-width: 991px) {
  header .logo-container {
    width: 9em;
  }

  .datetime-locale-container {
    margin-right: auto;
    margin-left: 18px;
  }
}
