/* import font */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;700&display=swap');

/* generic */

:root {
  --slim-font: 'Oswald', sans-serif;
  --red-color: #f72210;
  --heading-gray: rgba(3,3,3,.4);
}

/* generic */

body {
  font-family: "Roboto Condensed", sans-serif;
  background: #f4f5f6;
}

.wrapper {
  max-width: 1320px;
  height: 100%;
  background: white;
}

/* anchors */

a,
a:hover {
  color: inherit;
}

.news-section .content h3 a { /* news headings */
  text-decoration-color: var(--red-color);
}

/* header */

.header-container {
  background: var(--red-color);
  color: white;
}

header .logo-container {
  width: 27em;
}

.datetime-locale-container {
  font-family: var(--slim-font);
}

.btns-container button {
  border: 0;
  font-weight: 700;
  font-size: 1.2rem;
}

.datetime {
  font-weight: 300;
}

.sign-in {
  background: none;
  color: inherit;
}

.burger-menu {
  background: none;
  color: #fb9a94;
  border: 0;
  font-size: 1.6rem;
  margin: 0 5px 0 20px;
}

.subscribe {
  background: white;
  color: var(--red-color);
}

.weather,
.location {
  word-spacing: 3px;
}

/* news category navigation */

.news-categories-section {
  position: relative;
  font-weight: 700;
  font-size: 1.2rem;
  border-bottom: 1px solid rgb(211 ,211 , 211, 0.5);
}

.news-categories {
  width: 93%;
}

.news-categories a {
  padding: 0;
  text-align: center;
  border-right: 1px solid rgb(211 ,211 , 211, 0.5);
}

a.nav-link:hover {
  color: var(--red-color);
}

.search-container {
  width: 4.2em;
  position: relative;
  font-family: 'Montserrat', sans-serif;
}

.search-icon {
  position: absolute;
  right: 0;
  width: 22px;
}

nav .right-edge {
  position: absolute;
  top: 0;
  right: -10px;
  width: 6.5%;
  height: 15px;
  transform: skewX(45deg);
  background: var(--red-color);
}

/* main news section */

.news-section h2 { /* section headings  */
  text-transform: uppercase;
  color: var(--heading-gray);
  font-family: var(--slim-font);
  font-weight: 500;
  font-size: 1.2rem;
}

.news-section .content h3 { /* news headings */
  font-size: 1.5rem;
  font-weight: bold;
}

.featured-stories .news-category {
  bottom: 0;
  left: 0;
  background: red;
}

/* media querries */

@media all and (max-width: 480px) {
  .subscribe {
    padding: 0 2px;
  }

  .subscribe i {
    display: none;
  }

  .sign-in {
    padding: 0;
  }

  .burger-menu {
    margin: 0 0 0 15px;
    padding: 0;
  }

  .btns-container button {
    font-family: var(--slim-font);
    font-weight: 500;
    font-size: 0.8rem;
  }
}

@media all and (max-width: 576px) {
  header .logo-container {
    position: absolute; /* element is not positioned on the left, had to use absolute position for this */
    left: auto;
  }
}

@media all and (max-width: 640px) {
  .location {
    display: none;
  }
}

@media all and (max-width: 991px) {
  header .logo-container {
    width: 9em;
  }

  .datetime-locale-container {
    margin-right: auto;
    margin-left: 18px;
  }
}
